.featured .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.featured .box-container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 1rem;
  margin: 2rem;
  flex: 1 1 40rem;
  position: relative;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.featured .box-container .box img {
  width: 20rem;
}

.featured .box-container .box .price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 6rem;
  width: 6rem;
  text-align: center;
  line-height: 6rem;
  border-radius: 50%;
  background: var(--yellow);
  color: #333;
  font-size: 1.5rem;
}

.featured .box-container .box .content {
  padding: 1rem;
}

.featured .box-container .box .content .stars i {
  color: var(--yellow);
  font-size: 1.5rem;
}

.featured .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
  padding-top: 0.5rem;
}

.featured .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

@media (max-width: 991px) {
  .featured .box-container .box {
    flex-flow: column;
  }

  .featured .box-container .box img {
    width: 100%;
  }
}
