.products .box-container {
  display: flex;
  align-items: centers;
  justify-content: center;
  flex-wrap: wrap;
}

.products .box-container .box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1.5rem;
  flex: 1 1 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box-container .box img {
  width: 15rem;
}

.products .box-container .box .content {
  padding: 1rem;
}

.products .box-container .box .content .stars i {
  color: var(--yellow);
  font-size: 1.5rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
  padding: 0.5rem 0;
}

.products .box-container .box .content .price {
  font-size: 2rem;
  color: #666;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
}

@media (max-width: 991px) {
  .products .box-container .box {
    flex-flow: column;
  }

  .products .box-container .box img {
    width: 100%;
  }

  .products .box-container .box .content {
    text-align: center;
  }
}
